.container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 145px;
  padding-bottom: 52px;
}
.text {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: 700;
  font-size: 60px;
  /* line-height: 72px; */
}
.description {
  margin-top: -20px;
  font-size: 20px;
  margin-bottom: 138px;
}
.box {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: column;
  margin-top: 68px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  max-width: 750px;
  max-height: 593px;
  overflow-y: scroll;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
::-webkit-scrollbar {
  width: 6px;
}
/* ::-webkit-scrollbar-track {
  background-color: #d5d5d5;
} */
::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 20px;
}
.topbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  flex: 1;
  margin-top: 35px;
  margin-left: 40px;
  margin-right: 40px;

  /* padding-top: 35px; */
}
.btn-newtodo {
  display: flex;
  text-align: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  /* padding-top: 5px; */
  margin-top: 15px;
  line-height: 24px;
}
@media only screen and (max-width: 1024px) {
  .container {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin-bottom: 20px; */
  }
  .title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 25px;
    /* line-height: 72px; */
  }
  .description {
    font-weight: 400;
    margin-top: -10px;
    font-size: 16px;
    margin-bottom: 47px;
  }
  .box {
    margin-top: 34px;
    /* margin-left: -15px; */

    margin-right: 10px;
  }
  .addnewtodo {
    cursor: pointer;
    padding-left: 15px;
  }
}
@media only screen and (max-width: 512px) {
  .container {
    display: flex;

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 25px;

    /* line-height: 72px; */
  }
  .description {
    font-weight: 400;
    margin-top: -10px;
    font-size: 16px;
    margin-bottom: 47px;
  }
  .box {
    width: 355px;
    /* margin-top: 34px; */
    /* margin-left: -15px; */
    margin-right: 10px;
  }
  .addnewtodo {
    cursor: pointer;
    padding-left: 15px;
  }
  .topbox {
    margin-left: 20px;
  }
}
.addnewtodo {
  cursor: pointer;
  padding-left: 10px;
}

.animate__animated.animate__bounceInUp {
  --animate-duration: 0.8s;
}
