.task {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 40px;
  justify-content: flex-start;
}

p#deleteicon {
  justify-content: flex-end;
  position: absolute;
  right: 84px;
  padding-top: 10px;
  /* padding-right: 84px;
  padding-left: 50px; */
}

p {
  display: none;
  color: #707070;
  cursor: pointer;
}
#deleteicon:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
.Done {
  color: #d2d2d4;
}
div.task:hover p {
  display: block;
}
h2 {
  display: flex;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;

  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
}

/* On mouse-over, add a grey background color */
.checkboxcon:hover input ~ .checkmark {
  background-color: rgb(235, 235, 235);
}

/* When the checkbox is checked, add a blue background */
.checkboxcon input:checked ~ .checkmark {
  background-color: #4fae32;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxcon input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxcon .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkboxcon {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  margin-right: 45px;
  margin-bottom: 5px;
  /* cursor: pointer; */
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcon input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@media only screen and (max-width: 1024px) {
  p#deleteicon {
    /* display: flex; */
    justify-content: flex-end;
    position: absolute;
    right: 25px;
    padding-left: 5px;
  }
}
@media only screen and (max-width: 512px) {
  p#deleteicon {
    justify-content: flex-end;
    position: absolute;
    right: 10px;
  }
  .task {
    margin-left: 20px;
  }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;

    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
  }

  /* On mouse-over, add a grey background color */
  .checkboxcon:hover input ~ .checkmark {
    background-color: rgb(235, 235, 235);
  }

  /* When the checkbox is checked, add a blue background */
  .checkboxcon input:checked ~ .checkmark {
    background-color: #4fae32;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkboxcon input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkboxcon .checkmark:after {
    left: 4px;
    top: 3px;
    width: 5px;
    height: 5px;
    border: 1px solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .checkboxcon {
    margin-right: 30px;
    margin-bottom: 5px;
  }
}
