* {
  user-select: none;
}

*:focus {
  outline: none;
}

/* .brd {
  border: 1px solid #e2eded; 
   border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
} */

#app-cover {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 148px;
  height: 35px;
  margin-right: 40px;
  margin-top: 35px;
}

#select-button {
  position: relative;
  height: 16px;
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 100px;
  cursor: pointer;
}

#options-view-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#selected-value {
  font-size: 16px;
  font: bold;
  line-height: 1;
  margin-right: 26px;
}

.option i {
  width: 16px;
  height: 16px;
}

.option,
.label {
  color: #1d1d28;
  font-size: 16px;
}

#chevrons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  /* width: 50px; */
  padding: 9px 8px;
}

#chevrons i {
  display: block;
  height: 50%;
  color: #1d1d28;
  font-size: 12px;
  text-align: right;
}

#options-view-button:checked + #select-button #chevrons i {
  color: #1d1d28;
}

/* .options {
  position: absolute;
  left: 0;
  width: 250px;
} */

#options {
  position: absolute;
  /* top: 42px; */
  right: 0;
  left: 0;
  width: 169px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

#options-view-button:checked ~ #options {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option {
  position: relative;
  line-height: 1;
  transition: 0.3s ease all;
  z-index: 2;
}

.option i {
  position: absolute;
  left: 14px;
  padding: 0;
  display: none;
}

#options-view-button:checked ~ #options .option i {
  display: block;
  padding: 12px 0;
}

.label {
  display: none;
  padding: 0;
  /* margin-left: 27px; */
}

#options-view-button:checked ~ #options .label {
  display: block;
  padding: 12px 14px;
}

input[type='radio'] {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.label {
  transition: 0.3s ease all;
}

.opt-val {
  position: absolute;
  /* left: 5px; */
  /* width: 217px; */
  /* height: 21px; */
  opacity: 0;
  background-color: #fff;
  transform: scale(0);
}

.option input[type='radio']:checked ~ .opt-val {
  opacity: 1;
  transform: scale(1);
}

.option input[type='radio']:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  animation: unset;
}

.option input[type='radio']:checked ~ .label:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#options-view-button:not(:checked)
  ~ #options
  .option
  input[type='radio']:checked
  ~ .opt-val {
  top: -30px;
}

.option:nth-child(1) input[type='radio']:checked ~ .opt-val {
  top: -31px;
}

.option:nth-child(2) input[type='radio']:checked ~ .opt-val {
  top: -71px;
}

.option:nth-child(3) input[type='radio']:checked ~ .opt-val {
  top: -111px;
}

#option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  transition: 0.3s ease all;
  z-index: 1;
  display: none;
}

#options-view-button:checked ~ #options #option-bg {
  display: block;
}

/* .option:hover .label {
  color: #EAEBEF;
} */

.option:nth-child(1):hover ~ #option-bg {
  top: 0;
  background-color: #eaebef;
  border-radius: 30px 30px 0 0;
}

.option:nth-child(2):hover ~ #option-bg {
  top: 40px;
  background-color: #eaebef;
  /* border-radius: 30px 30px 0 0; */
}

.option:nth-child(3):hover ~ #option-bg {
  top: 80px;
  background-color: #eaebef;
  border-radius: 0 0 30px 30px;
}

.selectdiv {
  /* margin-top: 35px; */
  /* margin-left: 40px; */
  margin-right: 20px;
}

.labelfilter {
  position: relative;
  height: 16px;
  padding: 12px 14px;
  /* background-color: #fff; */
  border-radius: 100px;
  cursor: pointer;
}
.selectfilter {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
