.todo-div {
  display: flex;
  align-items: center;
  flex: 1;
}
.todo-form {
  display: flex;
  flex-wrap: column;
  align-items: center;
}
.todo-input {
  display: flex;
  flex-wrap: row;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: bold 60px / normal 'Roboto', sans-serif;
  max-width: 350px;
  color: #1d1d28;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transform: rotateX(-0.5729577951308232deg)
    rotateY(14.32394487827058deg);
  transform: rotateX(-0.5729577951308232deg) rotateY(14.32394487827058deg);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.todo-input:focus {
  outline: none;
}
.todo-input::placeholder {
  font-size: 60px;
  color: #1d1d28;
  opacity: 0.2;
}
.todo-btn {
  position: relative;
  cursor: pointer;
  display: block;
  align-items: center;
  flex-direction: row;
  background: #1d1d28;
  border-radius: 100px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 8px 24px 8px 24px;
  color: #f5f5f5;
  margin-left: 200px;
  font-weight: 700;
  font: normal bold 16px/1 'Roboto', sans-serif;
  text-align: center;

  z-index: 99;

  width: 105px;
  height: 36px;
}

.todo-btn:disabled {
  opacity: 0.2;
}

.todo-btnmobile {
  display: none;
}
.plusicon {
  align-items: center;
  /* font-size: 20px; */
  text-align: center;
}
.todo-btn:required {
  color: #7b7bd2;
}
@media only screen and (max-width: 1024px) {
  .todo-btnmobile {
    /* display: block; */
    font-size: 24px;
    justify-content: center;
    /* padding-top: 5px; */
    left: 40px;
    right: 40px;
    position: relative;
    bottom: 0;
    /* z-index: 1; */
    cursor: pointer;
    align-items: center;
    flex-direction: row;
    background: #1d1d28;
    border-radius: 100px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    color: #f5f5f5;
    font-weight: 700;
    font: normal bold 16px/1 'Roboto', sans-serif;
    text-align: center;
    width: 296px;
    height: 46px;
  }
  .todo-btnmobile:disabled {
    opacity: 0.2;
  }
}
@media only screen and (max-width: 512px) {
  .todo-btn {
    display: none;
  }
  .plusicon {
    display: none;
  }
  .todo-btnmobile {
    display: block;
  }
  .todo-btnmobile {
    display: block;
    font-size: 24px;
    justify-content: center;
    /* padding-top: 5px; */
    left: 40px;
    right: 40px;
    position: fixed;
    bottom: 20px;
    /* z-index: 1; */
    cursor: pointer;
    align-items: center;
    flex-direction: row;
    background: #1d1d28;
    border-radius: 100px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    color: #f5f5f5;
    font-weight: 700;
    font: normal bold 16px/1 'Roboto', sans-serif;
    text-align: center;
    width: 296px;
    height: 46px;
  }
  .todo-btnmobile:disabled {
    opacity: 0.2;
  }
}
